.buttons {
  margin: auto;
  background-color: red;
  width: 424px;
  height: 424px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: white;
  text-align: center;
  border: solid rgb(73, 21, 21);
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(221, 32, 32);
}

.title {
  width: 425px;
  color: white;
  margin: auto;
  background-color: red;
  font-size: 50px;
  text-align: center;
}

.screen {
  width: 420px;
  color: red;
  margin: auto;
  background-color: white;
  font-size: 50px;
  text-align: center;
  border: solid rgb(73, 21, 21);
}

.container {
  line-height: 100px;
}
